.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}

.row {
  display: flex;
}

main .row {
  margin: 1.5rem 0;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}
