header {
  background: #2c3333;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14);
  border-radius: 0;
}

h1 {
  font-family: Anton, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 48px;
  color: rgba(231, 246, 242, 0.87);
  text-shadow: 2px 2px 2px #788f95;
  letter-spacing: 0.08rem;
  margin-left: 1.25rem;
}

main {
  font-family: Roboto, sans-serif;
}

.search-row {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.search-bar {
  background: #e7f6f2;
  box-shadow: 2px 2px 2px #42626a;
  border-radius: 5px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  border: none;
}

form {
  width: 100%;
}

.search {
  border: none;
  display: inline-block;
  background-color: #e7f6f2;
  padding: 0.8rem 0.8rem 0.8rem 0.4rem;
  width: 100%;
  font-size: 1.25rem;
}

input:focus {
  outline: none;
  background-color: none;
}

.fa-magnifying-glass {
  font-size: 1.3rem;
  padding: 12px;
  margin-left: 5px;
}

ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.border-div {
  margin: 0.6rem;
  border: 1px solid #395b64;
  border-radius: 5px;
}

.border-div:hover {
  border: 3px solid #395b64;
}

h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 100%;
  margin-right: 2px;
}

.info {
  padding-left: 5px;
}

.p-search {
  margin-top: 10px;
  margin-bottom: 0;
}

img {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding-right: 5px;
}

.product {
  padding: 0.75rem;
}

.fa-heart {
  font-size: 1.5rem;
  width: 100%;
  text-align: right;
  padding-right: 0.5rem;
}

/* styling for desktop version of product info/description */
.img-product-info,
.description {
  width: 75%;
  margin: 0 auto;
}

.product-basics {
  text-align: center;
}

.desktop-img {
  margin-bottom: 1rem;
}

.price-desktop {
  display: inline;
  margin-right: 0.75rem;
}

.description {
  border: 1px solid #395b64;
  border-radius: 5px;
  padding: 1.25rem;
  margin-bottom: 2rem;
}

h2 {
  margin: 0.25rem auto;
  font-size: 2rem;
}

h3 {
  margin: 0.5rem 0;
}

.p-description {
  margin-top: 0;
  margin-bottom: 0;
}

.h3-product-basics {
  font-size: 1.25rem;
  font-weight: 500;
}

.heart-desktop {
  margin-top: 60%;
  font-size: 2rem;
}

/* styling for mobile */
.img-mobile {
  width: 65%;
  margin-bottom: 1rem;
}

.h2-mobile {
  font-size: 1.75rem;
}

.h3-mobile {
  font-weight: 500;
  font-size: 1.1rem;
}

.h3-description-mobile {
  font-size: 1rem;
  margin: 0.25rem 0;
}

.p-description-mobile {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
  line-height: 1.1rem;
}

.mobile-description {
  border: 1px solid #395b64;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.img-product-info-mobile {
  width: 85%;
  margin: 0 auto;
}

.span-mobile {
  display: inline-block;
  margin-top: 0.3rem;
  margin-bottom: 0.6rem;
}
