header {
  background: #2c3333;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14);
  border-radius: 0;
}

h1 {
  font-family: Anton, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 48px;
  color: rgba(231, 246, 242, 0.87);
  text-shadow: 2px 2px 2px #788f95;
  letter-spacing: 0.08rem;
  margin-left: 1.25rem;
}

main {
  font-family: Roboto, sans-serif;
}

.search-row {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.search {
  background: #e7f6f2;
  box-shadow: 2px 2px 2px #42626a;
  border-radius: 5px;
  padding: 0.8rem;
  width: 85%;
  margin: 0 auto;
  display: block;
  font-size: 1.25rem;
  border: none;
}

ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
}

li {
  border: 1px solid #395b64;
  border-radius: 5px;
}

h4 {
  width: 90%;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1rem;
}

.info {
  padding-left: 5px;
}

p {
  margin-top: 10px;
}

img {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding-right: 5px;
}

.product {
  padding: 0.75rem;
}
